@model Actor


<form asp-action="Edit" asp-controller="Actor" asp-route-id="@Model.Id" method="post">

    <div data-mdb-input-init class="form-outline mb-4">
        <img src="" alt="" id="imgview" width="200" height="200">
    </div>


    <div data-mdb-input-init class="form-outline mb-4">
        <label asp-for="@Model.ImgUrl" ></label>
        <input asp-for="@Model.ImgUrl" class="form-cotrol" id="imginput" onchange="fun1(this)">
    </div>


    <div data-mdb-input-init class="form-outline mb-4">
        <label asp-for="@Model.Name" ></label>
        <input asp-for="@Model.Name" class="form-cotrol">
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <label asp-for="@Model.Bio" ></label>
        <input asp-for="@Model.Bio" class="form-cotrol">
    </div>

    <input type="submit" value="Update" class="btn btn-primary"/>


</form>

@section Scripts{
    <script>
        function fun1(txt){
            document.getElementById("imgview").src = txt.value;
        }

        function fun2(){
            document.getElementById("imgview").src = document.getElementById("imginput").value;
        }

        window.onload = fun2;
    </script>
}