@model List<Producer>

<!--@foreach (var item in Model){
    <div class="card" style="width: 18rem;">
  <img src="@item.ImgUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">@item.Name</h5>
    <p class="card-text">@item.Bio</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
}-->



<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>Img</th>
                    <th>Name</th>
                    <th>Bio</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>Actions</th>
                    }
                    </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="align-middle">
                        <img class="rounded-circle" src="@item.ImgUrl" alt="@item.Name" style="max-width: 150px" />
                    </td>
                    <td class="align-middle">
                      <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                      </a>
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Bio)
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                        </td>
                    }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
        <a asp-controller="Producer" asp-action="New" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>